body {
  margin: 0;
  background: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.terminal {
  width: 900px;
  max-width: 95%;
  height: 600px;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
  font-family: "IBM Plex Mono", monospace;
  color: rgb(187, 187, 187);
  font-size: 18px;
  overflow-y: auto;
}

.console-line {
  color: rgb(0, 200, 0);
  margin-bottom: 15px;
}

button {
  font-family: inherit;
  font-size: 16px;
  padding: 5px 12px;
  background: #5050f2;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #6c6cff;
}

.content {
  white-space: pre-wrap;
  line-height: 1.4;
}

.terminal-purple {
  color: #5050f2;
}

.login-line {
  color: #fff;
}

.console-carrot {
  display: inline-block;
  width: 8px;
  background: white;
  margin-left: 3px;
  animation: blink 1s step-start infinite;
}

::selection {
  background-color: #fff;
  color: #000;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
